
.slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
}


.dots {
    position: fixed;
    right: 13px;
    top: 50%;
}

.dots-item {
    height: 13px;
    width: 13px;
    margin: 7px 2px;
    background-color: #fff;
    border-radius: 50%;
    display: block;
}

#up {
    background-color: #f78b1f;
}

#central {
    background-color: #f78b1f;
    opacity: 0;
}

#down {
    background-color: #f78b1f;
    opacity: 0;
}

#next {
    width: 1024px;
    height: 98px;
    background-image: url(./details/arrow\ next.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
}

#first {
    background-image: url(./details/slide\ 1\ bckground.png);
}

#second {
    background-image: url(./details/slide\ 2\ bckground.png);
}

#third {
    position: relative;
    display: inline-block;
    background-image: url(./details/slide\ 3\ bckground.png);
}

#header-1 {
    position: absolute;
    top: 126px;
    left: 76px;
    width: 760px;
    font-family: Gotham Pro;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.3;
    color: #0d319c;
}

h3 {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #0d319c;
}

#aim {
    position: absolute;
    top: 276px;
    left: 625px;
}

#hypoglycemia {
    position: absolute;
    left: 223px;
    bottom: 356px;
}

#complication {
    position: absolute;
    top: 507px;
    left: 369px;
}

#risk {
    position: absolute;
    top: 487px;
    left: 791px;
}

#header-2 {
    position: absolute;
    top: 249px;
    left: 270px;
    width: 479px;
    font-family: Gotham Pro;
    font-weight: 300;
    font-size: 50px;
    line-height: 1.3;
    color: #fff;
    text-align: center;
}

#header-3 {
    position: absolute;
    top: 112px;
    left: 83px;
    font-family: Gotham Pro;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}

h4 {
    margin: 20px;
    text-align: center;
    font-family: Gotham Pro;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}

.pulse {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    max-width: 100px;

}
	
#middle {
		fill: rgba(247, 139, 31, 0.22);
		transform: scale(0);
		opacity: 0;
		transform-origin: 50% 50%;
        animation: pulse 1.8s infinite cubic-bezier(.5,.5,0,1);	
}

#middle-1 {
    fill: rgba(247, 139, 31, 0.22);
    transform: scale(0);
    opacity: 0;
    transform-origin: 50% 50%;
    animation: pulse 1.6s 0.3s infinite cubic-bezier(.5,.5,0,1);	
}

#middle-2 {
    fill: rgba(247, 139, 31, 0.62);
    transform: scale(0);
    opacity: 0;
    transform-origin: 50% 50%;
    animation: pulse 1.8s 0.2s infinite cubic-bezier(.5,.5,0,1);	
}

@keyframes pulse {
	
	25% {
		opacity: 1;
	}
	
	100% {
		transform: scale(1);
	}
	
}

#top-aim-big-border {
    position: absolute;
    top: 260px;
    left: 560px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px #cf1437 solid;
}

#top-aim-big {
    position: absolute;
    top: 262px;
    left: 562px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: rgba(247, 139, 31, 0.22);
}

#top-hypoglycemia-big-border {
    position: absolute;
    top: 425px;
    left: 271px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px #cf1437 solid;
}

#top-hypoglycemia-big {
    position: absolute;
    top: 426px;
    left: 272px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: rgba(247, 139, 31, 0.22);
}

#top-complication-big-border {
    position: absolute;
    left: 478px;
    bottom: 214px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px #cf1437 solid;
}

#top-complication-big {
    position: absolute;
    left: 480px;
    bottom: 216px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(247, 139, 31, 0.22);
}

#top-risk-big-border {
    position: absolute;
    right: 185px;
    bottom: 233px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px #cf1437 solid;
}

#top-risk-big {
    position: absolute;
    right: 187px;
    bottom: 235px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(247, 139, 31, 0.22);
}

#ice { 
    width: 100vw;
    height: 75vh;
    background-image: url(./details/ice\ slide\ 2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: sticky;
    top: 0;
}

#diagram {
    position: absolute;
    top: 150px;
    left: 57px;
    width: 909px;
    height: 469px;
}